<script setup>
import { RouterView } from "vue-router";
import Footer from "./components/footer/WebFooter.vue";
import Header from "./components/navbar/NavBar.vue";
</script>

<template>
  <div class="wrapper">
    <Header />
    <RouterView />
    <Footer />
  </div>
</template>
