<script></script>

<template>
  <div class="">
    <h1>Connecting Churches</h1>
    <ul>
      <li>Illigan Family Church</li>
      <ul>
        <li>Location: Philippines</li>
        <li>Lead Pastor: Arvin Castillon</li>
      </ul>
      <li>Maranatha Revival Church</li>
      <ul>
        <li>Location: Philippines</li>
        <li>Lead Pastor: Gelito Castillon</li>
      </ul>
    </ul>
  </div>
</template>

<style scoped>
h1 {
  text-align: center;
}
</style>
