<script></script>

<template>
  <div class="">
    <h1>Statement of Faith</h1>
    <h2>The Bible:</h2>
    <p>
      The Bible, both the Old and New Testaments, is God’s verbally inspired
      (God-breathed) word to all. It was written by human authors, under the
      supernatural guidance of the Holy Spirit. The scriptures are inspired by
      God, and are the revelation of God to man. They are infallible and
      inerrant in the original manuscripts. They are the unique, full and final
      authority on all matters of theology, morality, faith and practice, and
      there are no other writings similarly inspired by God. Matthew 5:18; John
      17:17; 1 Corinthians 2:13; 1 Thessalonians 2:13; 2 Timothy 3:16-17; 2
      Peter 1:20-21
    </p>
    <h2>Humanity:</h2>
    <p>
      We believe in the creation. We believe that mankind was originally
      created, by God, in His image, in perfect community with God, wholly good
      and free from sin. He created them male and female, Adam and Eve. Mankind
      has chosen sin by a voluntary act of personal disobedience. Sin brings
      about spiritual and physical death. All have sinned, and are eternally
      separated, as a people, from God because of their sin. Genesis 1:26-27,
      2:17; 3:6, 6:5; Psalm 51:5; Jeremiah 17:9;Romans 3:23; 5:8,12-21; 7:18;
      Ephesians 2:1-3
    </p>
    <h2>Eternity:</h2>
    <p>
      People are created to exist forever. Every person will exist eternally,
      either separated from God because of sin; or in union with God through
      faith in His forgiveness and salvation that is given through Jesus Christ.
      To be eternally separated from God will result in an individual spending
      eternity in hell. To be eternally in union with God will result in an
      individual spending eternity in heaven. Heaven and hell are places of
      eternal existence. Matthew 25:46; John 5:25-29; 1 Corinthians 15:35-38; 2
      Corinthians 5:1-10; Philippians 1:19-26; 3:20-21; Revelation 20:11-15,
      21:1-22:15
    </p>
    <h2>God:</h2>
    <p>
      We believe in one God, the almighty creator and ruler of the universe and
      of all that is seen and unseen. He has eternally existed as three persons:
      The Father, the Son, and the Holy Spirit. These three are co-equal and are
      one God. They are equal in deity, power, and glory, and worthy of the same
      worship and obedience. God is infinite in love, perfect in judgments, and
      unchanging in righteousness and mercy. Genesis 1:26; Psalm 45:6-7; 68:5;
      104:1-35; 110:1; Isaiah 64:8; Matthew 3:13-17; 10:29-31; 28:17-20; 2
      Corinthians 12:14; Ephesians 1:9-12; Colossians 1:16-17; Revelation 1:4-6
    </p>
    <h2>The Lord Jesus Christ:</h2>
    <p>
      We believe that Jesus of Nazareth is the Christ, the Son of God, and that
      He was Incarnate, fully God and fully man. He was born of a virgin, lived
      a sinless life, and died for our sins according to the scriptures. He was
      buried, and bodily raised from the dead after three days according to the
      Scriptures. The shed blood of Jesus Christ on the cross provides the sole
      basis for redemption, forgiveness of sins, and eternal life. Therefore,
      salvation only occurs when a person places their faith in the death and
      resurrection of Christ as the sufficient payment for their sin. He
      ascended to the right hand of Father God and is interceding for the
      saints. He will return in glory to judge both the living and the dead,
      reign in righteousness, and there will be no end to his kingdom. Matthew
      1:18-25; John 1:1-18; Romans 8:34; 1 Corinthians 15:1-28; 2 Corinthians
      5:21; Galatians 3:10-14; Ephesians 1:7; Philippians 2:6-11; Colossians
      1:15-23; Hebrews 7:25; 9:1-15; 10:19; 1 Peter 2:21-25; 1 John 2:1-2
    </p>
    <h2>The Holy Spirit:</h2>
    <p>
      The Holy Spirit is equal with God the Father and God the Son, as God. He
      is present in the world to make people aware of their sin and need for
      Jesus Christ. He lives in every believer from the moment of salvation. He
      also provides the Christian with power for living, understanding truth,
      and guidance in doing God’s will and what is right. The Christian seeks to
      live under His leading daily. The Holy Spirit regenerates, indwells, and
      graciously equips the Christian for Godly living and service. Subsequent
      to conversion, the Holy Spirit desires to fill, empower, and anoint
      believers for the ministry and witness. We believe this is a secondary
      experience apart from conversion, also known as the “baptism of the Holy
      Spirit”. We also believe that signs and wonders, as well as all the gifts
      of the Holy Spirit as described in the New Testament, are operative today,
      and are designed to testify to the gospel, edify the Church to maturity,
      and supernaturally empower the church to fulfill and carry out her calling
      and ministry on earth. Matthew 3:11-17; John 3:1-15; Luke 24:49; Acts
      1:4-8; 4:29-30; Romans 8:9; 12:3-8; 1 Corinthians 12:12-13; 2 Corinthians
      1:21-22; Galatians 3:1-5; Ephesians 1:13-14, 5:18
    </p>
    <h2>Salvation:</h2>
    <p>
      We believe that salvation is by grace alone, through faith alone, in
      Christ Jesus alone. Salvation is a gift from God. Men and Women can never
      make up for their sin by self-improvement, rituals, or good works. Only
      through repentance and trusting in Jesus Christ’s perfect and sufficient
      work on the cross and His resurrection can one obtain remission of their
      sins and be spiritually Born Again. John 3:16-18; 14:6; Acts 4:12; Romans
      3:21-26; 5:11; Ephesians 2:8-9; 1 Timothy 2:5-6; Hebrews 9:12,22
    </p>
    <h2>Spirit-Filled Living:</h2>
    <p>
      The saving grace of God, through the power of the Holy Spirit, also
      sanctifies us by enabling us to do what is pleasing in God’s sight that we
      might progressively conform to the image of Christ. The Holy Spirit
      empowers the Christian to walk in ways that the world would describe as
      supernatural as He gifts His people to live a life of power and holiness;
      a life that produces the fruits of the Spirit, a separation from
      worldliness, and growing in love and holiness. He also graces us with
      opportunity and authority to advance His Kingdom throughout the earth.
      Ephesians 5:18, 1 Corinthians 6:14, 7:1; Acts 2:42-47; Romans 12:1-2;
      Hebrews 12:14, 13:12; 1 Peter 1:15-16
    </p>
    <h2>The Church:</h2>
    <p>
      We believe the church is the body of Christ, the community of Christ
      followers, of which Jesus Christ is the head. The members are those who
      have trusted, by faith, in the finished work of Jesus Christ. The purpose
      of the church is to glorify God by demonstrating our passion for Him, His
      passion for people, and advance His desires on earth through the leading
      and power of His Spirit. The Church is God’s primary instrument through
      which He is fulfilling His redemptive purposes in the earth. To equip the
      saints for the work of the ministry, God has given the Church apostles,
      prophets, evangelists, pastors, and teachers. We also affirm the
      priesthood of the believers and the importance of every Christian being
      joined with and actively involved in a local community of the saints.
    </p>
    <p>
      The Local Church, also known as a congregation, is the local body of
      Christ, with its own local church government. In Hebrews 13:17, church
      leaders must give account for the flock. The members of that local church
      are to obey and submit to their leaders. It is important for all believers
      to be connected to a local body of believers, i.e. the local church. It is
      in the context of the local church where community, equipping, fellowship,
      accountability, service, discipleship, and care for one another takes
      place. We believe that we, the community of Jesus Christ followers, are
      called to be like-minded, having the same love, being one in spirit and
      purpose, doing nothing out of selfish ambition or vain conceit, but in
      humility considering others better than ourselves. Each of us should look
      not only to our own interests, but also to the interests of others.
      Matthew 16:17-19; Acts 2:42-47; Ephesians 3:14-21; 4:11-16; Philippians
      1:1, 2:1-11; 1 Timothy 2:11-15; Titus 3:14; Hebrews 10:23-25; 13:17; 1
      Peter 2:4-5, 9-10
    </p>
  </div>
</template>

<style scoped>
h1 {
  text-align: center;
}
</style>
