<script></script>

<template>
  <div class="">
    <h1>Foundings</h1>
    <h2>The Beginning</h2>
    The Connection Church of Rome (CCR) was planted in October 2017. CCR is a
    Word-centered, Spirit-filled, non-denominational church. CCR is a great
    place to connect with God and to connect with other believers. Our worship
    services begin at 10:00 A.M. (EST) on Sunday morning and last about an hour
    and a half. We incorporate worship, study of God’s word, prayer, and
    celebrating the Lord’s Supper in our services. We have fellowship lunches
    after the service on the first Sunday of every month. We also gather for a
    fellowship dinner and study of God’s word on the second and fourth Friday of
    the month.
    <h2>Contact</h2>
    If you are interested in helping to plant this church, please contact Bill
    Murchison @
    <a href="mailto:bill@connectionchurch.org">bill@connectionchurch.org.</a>
  </div>
</template>

<style scoped>
h1 {
  text-align: center;
}
</style>
