<script></script>

<template>
  <div class="">
    <h1>Connect Groups</h1>
    <h2>Connecting Together:</h2>
    The vision of Connection Church of Rome (CCR) is to connect people to God
    and to one another. There is no better place for this to happen than in a
    small group setting. We call our small group ministry Connect Groups (CG)
    because that is where people connect to God and to one another.
    <h3>Benefits of Connect Groups</h3>
    <ul>
      <li>This is where relationships are built and developed.</li>
      <li>This is where much of the care of people takes place.</li>
      <li>This is where many of the needs of the congregation are met.</li>
      <li>This is where a lot of personal ministry takes place.</li>
      <li>
        This is where a lot of the spiritual growth in people takes place.
      </li>
      <li>
        This is where most people have an opportunity to exercise their
        spiritual gifts.
      </li>
      <li>
        This is how churches can effectively give account to God for the flock.
      </li>
      <li>
        This is an excellent place for leaders to be trained and raised up.
      </li>
    </ul>
    As the church grows, we will be forming Connect Groups. Presently, the
    church planting team is effectively functioning as a small group.
  </div>
</template>

<style scoped></style>
