<script></script>

<template>
  <div class="">
    <h1>Leadership</h1>
    <p>
      Our Leadership Team is led by Bill Murchison. Bill has faithfully served
      God in pastoral ministry for over thirty-five years. The Connection Church
      is Bill’s fourth church plant. Bill has also served in a number of other
      churches and ministries, including prison ministry. Bill has a passion for
      trainig and developing leaders. Bill and Karen have ten children and
      fourteen grandchildren. We believe in the plurality of leaders, including
      both elders (pastors) and deacons, and Bill serves as the team leader. We
      believe in servant leadership, and in leading by example. The following
      people serve on the leadership team: Karen Murchison, Tom Swenson, and
      Paul Barnett. Bill meets with the Leadership Team, to train and mentor
      them in teaching, preaching, caring for the flock, and managing the
      affairs of the church.
    </p>
    <ul>
      <li>Bill Murchison: Lead Pastor</li>
      <li>Karen Murchison: Pastor</li>
      <li>Tom Swenson: Treasurer</li>
      <li>Paul Barnett: Board Member</li>
    </ul>
  </div>
</template>

<style scoped>
h1 {
  text-align: center;
}
</style>
