<script></script>

<template>
  <div class="">
    <h1>Connecting Ministries</h1>
    <ul>
      <li>Christian Communicators Worldwide</li>
      <li>Network of Related Pastors</li>
      <li>CEDE Sports</li>
      <li>Forty Days for Life</li>
      <li>Gideons</li>
      <li>Turn Around Ministries</li>
    </ul>
  </div>
</template>

<style scoped>
h1 {
  text-align: center;
}
</style>
