<script></script>

<template>
  <div class="">
    <h1>Our Ministry</h1>
    <p>
      Our ministry is relationally oriented. When God created man, He created
      him in his own image so that he could have fellowship with him. When God
      created Adam, there was not a suitable companion for him among all the
      rest of creation. Therefore, He created Eve to be his companion. We
      recognize that man was created to have fellowship people connect with God
      through the Scriptures. We believe that the Bible is inspired by God,
      without error, living, active, and profitable for teaching, reproof,
      correction, and training. We believe that God has revealed Himself to us
      in the Scriptures. He has revealed His names, His character, His will, His
      ways, and His works in the Scriptures.
    </p>
    <p>
      We also help connect people with God through worship and prayer. We enter
      His gates with thanksgiving and His courts with praise, so praise and
      worship are vitally important to our fellowship with God. We also help
      connect people to God through prayer. God calls the church a house of
      prayer. He has instructed us to be devoted to prayer and to pray without
      ceasing. God gives us a wonderful picture of the elders in heaven holding
      harps and golden bowls of incense, which are the prayers of His saints.
      Worship and prayer are key ways to connect with God.
    </p>
    <p>
      We also help connect people to God through sharing the gospel. When Adam
      and Eve sinned, they were disconnected from God by their sin. God is a
      holy God, and the fellowship was broken. God loved the world so much that
      He sent Jesus, His Son, to die for our sins so that we might become the
      righteousness of God through Jesus. When Jesus died on the cross, the veil
      in the temple was rent from top to bottom, signifying that those who are
      in Christ could not come into His presence again. We help people connect
      with God by putting their faith in Him as their Lord and Savior.
    </p>
  </div>
</template>

<style scoped>
h1 {
  text-align: center;
}
</style>
