<script></script>

<template>
  <div class="">
    <h1>Reading Plans</h1>
    <h2>Reasons to read God's word</h2>
    There are many reasons for us to read God’s word. Here are just a few of the
    reasons.
    <ul>
      <li>
        It is one of the ways that we grow in respect to salvation (1 Peter
        2:2-3).
      </li>
      <li>
        It is part of renewing our minds and being transformed (Rom 12:2).
      </li>
      <li>It builds us up and gives us our inheritance (Acts 20:32).</li>
      <li>It keeps our ways pure (Psalm 119:9-11).</li>
      <li>It performs its work in our lives (1 Thessalonians 2:13).</li>
    </ul>
    I encourage everyone to spend time reading God’s word every day. It is very
    helpful to have a reading plan. There is not a one-plan-fits-all. I have
    listed my current plan and the one that I used last year. They are on the
    aggressive side, and take some time. I try to spend time in the Psalms and
    Proverbs every day. Then, I like to read a chapter in the gospels. Then, I
    have a reading from the Old Testament and the New Testament. My personal
    reading plans may work for some people. There are other Bible reading plans
    that will fit others better. I try to change my reading plans every year.
    Let me encourage you to pick a plan that will work for you or create your
    own, which is what I do. May the Lord open your heart and mind, fill you
    with His joy as you feast on His word (Jeremiah 15:16), and may you grow in
    your faith this year.
    <h2>Resources</h2>
    <ul>
      <li>
        <a href="static/pdfs/2021-Reading-Plan-Bill.pdf" target="_blank"
          >Bill Murchison Reading plan</a
        >
      </li>
      <li>
        <a href="https://www.navigators.org/resource/bible-reading-plans/"
          >Reading plans from the Navigators</a
        >
      </li>
    </ul>
  </div>
</template>

<style scoped>
h1 {
  text-align: center;
}
</style>
