<script></script>

<template>
  <div class="">
    <h1>Sunday Morning</h1>
    <h2>Morning Service:</h2>
    Please join us for our Sunday morning services at 10:00 a.m. We spend time
    worshiping the Lord, studying the Word of God, praying, and fellowshipping
    with one another. Currently, you can join us live for our 10:00 A.M. (EST)
    service.
  </div>
</template>

<style scoped>
h1 {
  text-align: center;
}
</style>
