<script></script>

<template>
  <div class="">
    <h1>Vision &#38; Mission</h1>
    <h2>"Connecting people with God and one another"</h2>
    <p>
      Our vision is to be a church that connects people with God and with one
      another. When Jesus was asked about the greatest commandment, He replied
      that it was to love God with all your heart, and the second greatest
      commandment was to love one another. Therefore, we are a church that is
      committed to loving God and loving others.
    </p>
    <p>
      Our mission is to help others connect with God, and with one another. Our
      mission has two important target groups. The first group is made up of
      those who have already connected with God. We want to help them grow and
      cultivate their relationship with God. We also want them to grow in their
      ability to connect with one another. We live in a world of broken
      relationships, and we want to help people reconnect with one another. We
      believe that it is difficult to give away something that you do not have.
      We must passionately love God and fervently love others to effectively
      communicate this message to others. Jesus said that the world would know
      that we are His disciples if we have love for another.
    </p>
    <p>
      The second group is made up of those who have never connected with God. We
      want to share the good news that God loved the world (everyone) so much
      that He sent His Son, Jesus, to die for our sins so that we could connect
      (enter into a relationship) with Him. God tells us that to connect with
      Him, we must confess that Jesus is Lord, and believe in our heart that God
      raised Him from the dead. We connect with God by placing our faith in what
      Jesus has already done, not in our own works.
    </p>
  </div>
</template>

<style scoped>
h1 {
  text-align: center;
}
</style>
