html {
    position: relative;
    min-height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
}

.wrapper {
    /* Height of footer*/
    margin-bottom: 75px;

    @media (min-width: 600px) {
        margin-bottom: 75px !important;
    }
}