<template>
  <div class="footer">
    <p>Connection Church of Rome</p>
  </div>
</template>

<style scoped>
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-top: 4px rgba(128, 128, 128) solid;

  background-image: linear-gradient(
    to right,
    rgb(13, 13, 31),
    rgb(13, 13, 31),
    rgb(18, 28, 61)
  );
}

@media (min-width: 600px) {
  .footer {
    height: 50px;
  }
}

p {
  color: white;
  text-align: center;
}
</style>
