<script setup>
import { RouterLink } from "vue-router";
</script>

<template>
  <div class="">
    <header>
      <nav>
        <ul>
          <li>
            <RouterLink to="/">Home</RouterLink>
          </li>
          <li>Connect with Us</li>
          <ul>
            <li>
              <RouterLink to="/foundings">Foundings</RouterLink>
            </li>
            <li>
              <RouterLink to="/leadership">Leadership Team</RouterLink>
            </li>
            <li>
              <RouterLink to="/ministry">Our Ministry</RouterLink>
            </li>
            <li>
              <RouterLink to="/vision">Vision and Mission</RouterLink>
            </li>
            <li>
              <RouterLink to="/faith">Statement of Faith</RouterLink>
            </li>
            <li>
              <RouterLink to="/sunday">Sunday Morning</RouterLink>
            </li>
            <li>
              <RouterLink to="/groups">Connect Groups</RouterLink>
            </li>
            <li>
              <RouterLink to="/churches">Connecting Churches</RouterLink>
            </li>
            <li>
              <RouterLink to="/ministries">Connecting Ministries</RouterLink>
            </li>
            <li>
              <RouterLink to="/events">Upcoming Events</RouterLink>
            </li>
          </ul>
          <li>Resources</li>
          <ul>
            <li>
              <RouterLink to="/messages">Messages</RouterLink>
            </li>
            <li>
              <RouterLink to="/blogs">Blogs</RouterLink>
            </li>
            <li>
              <RouterLink to="/reading">Reading Plans</RouterLink>
            </li>
            <li>
              <a href="static/pdfs/Connection-Church-Prayer-Notebook.pdf"
                >Prayer Notebook</a
              >
            </li>
            <li>
              <a href="static/pdfs/Meditation-on-Scripture.pdf"
                >Meditating on Scripture</a
              >
            </li>
            <li>
              <RouterLink to="/giving">Giving</RouterLink>
            </li>
          </ul>
        </ul>
      </nav>
    </header>
  </div>
</template>

<style scoped></style>
